<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<h3>LISTA DE GRUPOS</h3>



<table class="table table-striped">
    <thead>
<tr>
<th>Grupo</th>
<th>Descarga</th>
<th>Detalle</th>
</tr>
</thead>
    {% for group in groups %}
    <tr>
    <td>
    {{group.name}}
    </td>
     <td>
    <a href="{{ MEDIA_URL }}{{ group.paper }}">DESCARGAR</a>
    </td>
    <td>
    <a href="/grupos/{{group.id}}">Ver más...</a>
    </td>
    </tr>
{% endfor %}

</table>



{% endblock %}
</body>
</html>