{% extends 'base.html' %}
{% block content %}

<h2>{{ group.name }}</h2>
{{ group.topic }}</br></br>
paper : <a href="{{ MEDIA_URL }}{{ group.paper }}">DESCARGAR</a></br>
<h3>INTEGRANTES:</h3>
{% for student in students %}
        {{ student.user.last_name }} {{ student.user.first_name }} ( {{ student.user }} )</br>

{% endfor %}
<li></li>
<!-- Button trigger modal -->
{% if user.is_authenticated %}
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#votar">
  Votar
</button>
        </br>
{% endif %}

<h3>Comentarios y preguntas:</h3>
{% for vote in votes %}
   <h4>{{ vote.comment }}</h4></br>
   <h5>puntaje otorgado: {{ vote.grade }}</h5>
   ------------------</br>
{% endfor %}
<!-- Modal -->
<div class="modal fade" id="votar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Vota y deja un comentario</h4>
      </div>
      <div class="modal-body">
        <form action="/votos/" method="post">{% csrf_token %}
         <input type="radio" name="grade" value="0"> 0 
         <input type="radio" name="grade" value="1"> 1 
         <input type="radio" name="grade" value="2"> 2 
         <input type="radio" name="grade" value="3"> 3 
         <input type="radio" name="grade" value="4"> 4 
         <input type="radio" name="grade" value="5"> 5 
         <input type="radio" name="grade" value="6"> 6 
         <input type="radio" name="grade" value="7"> 7 
         <input type="radio" name="grade" value="8"> 8 
         <input type="radio" name="grade" value="9"> 9 </br>
         <input type="radio" name="grade" value="10"> 10
         <input type="radio" name="grade" value="11"> 11
         <input type="radio" name="grade" value="12"> 12
         <input type="radio" name="grade" value="13"> 13
         <input type="radio" name="grade" value="14"> 14
         <input type="radio" name="grade" value="15"> 15
         <input type="radio" name="grade" value="16"> 16
         <input type="radio" name="grade" value="17"> 17
         <input type="radio" name="grade" value="18"> 18
         <input type="radio" name="grade" value="19"> 19
         <input type="radio" name="grade" value="20"> 20</br>
         <input type="radio" name="group" value="{{ group.id }}" style="display:none;" checked>
         <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Votar</button>
      </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}