<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<h1>Descripcion estudiante</h1>

<h2>
    {{student.user.first_name}} {{student.group}}
</h2>
{% endblock %}

</body>
</html>