{% extends 'base.html' %}
{% block content %}
<h2> Ranking </h2>

<table class="table table-striped">
    <thead>
<tr>
<th>Grupo</th>
<th>Puntaje</th>
</tr>
</thead>
    {% for ranking in rank %}
    <tr>
    <td>
    <a href="/grupos/{{ ranking.group }}">{{ ranking.group_detail.name }}</a>
    </td>
     <td>
    {{ ranking.score }}
    </td>

    </tr>
{% endfor %}

</table>
{% endblock %}