
{% extends 'base.html' %}
{% block content %}
<form class="form-horizontal" role="form" action='/login/' method='POST'> {% csrf_token %}
    <div class="form-group">
        <label for='code'  class="col-sm-2 control-label"> Codigo </label>
        <div class="col-sm-10">

            <input class="form-control" type='text' name='code' id='code' class="form-control" placeholder="Codigo">
        </div>
    </div>
    <div class="form-group">
        <label for='password'  class="col-sm-2 control-label">Contraseña </label>
        <div class="col-sm-10">

        <input class="form-control" type='password' name='password' id='password' class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <input class="btn " type='submit' value='login'>
    </div>
</form>
{% endblock %}
